@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
nav {
  display: flex;
  width: 100%;
  height: 66px;
  align-items: center;
  justify-content: space-between;
 /* Ensure vertical alignment */
  overflow: hidden;
}

.hi{
  text-align: center;
  margin-left:180px;
}
.ha{
  object-fit: cover;
  height:31px;
  width:31px;
}
.hu{
  margin-right: 10px;
}
.icon{
  display:flex;
margin-right:20px;}

.Join{
  color:aqua;
  border:none;


}
.hm{
  margin-top: 50px;
  height:200px;
}
.headers {
  margin-left: auto;
  margin-right:auto;
  background-image: url('/2025-5-February-Mailboxes.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 98%;
  height: 600px;
  border-radius: 1%;
  margin-top: 20px;
}
 span{
 display:flex;
 color:white;
 padding-top:100px;
 padding-left: 140px;
font-weight: 400;
}

h1{
  font-size: 48px;
  line-height: 60px;
  margin: 12px 0 0;
  max-height: 180px;
  font-weight: 800;
  overflow: hidden;
  padding-left:140px;
  color:#ffffff
}
p{
  padding-left: 140px;
  font-size: 11px;
  color:white;
  padding-top:42px;
  font-weight: 800;

}
.maincontent{
  border:1px solid black;
  background-color: white;
  width:80%;
  height:fit-content;
  margin-top: 140px;
 margin-left: 130px;
 margin-right: 130px; 
 border-radius: 1%;

}
.wrapcontent{
  display:inline-flex;

}
.author{
  border-radius: 50%;
  width:70px;
  height:70px;
  filter:grayscale(1);
  margin-left: 20px;
  margin-top: 20px;

}
.authorName{
  font-size: large;
  color:aqua;
  padding:0;
  align-items: center;
  margin-top:40px;
  padding-left: 12px;
  height:fit-content;
}


.line{
  border-right: 1px solid #d6d5d5;
  height: 18px;
  margin-top: 45px;
  padding-left: 10px;
  width:0;

}
.Market{
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  width:160px;


}
.Date{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  width:280px;
  margin-left: 230px;
  
}
.features{
  display:flex;
  flex-direction: row;
  text-align: end;
}

.links{
  margin-left: 30px;
  color:red;

}
.links:hover{
  text-decoration: underline;
}
.contentss{
  padding-left: 20px;
  padding-top: 0;
  font-weight: 300;
  font-size: 26px;
  font-style: italic;
}
svg{
  width:20px;
  height:20px;
 
}
.Sharing{
  position: absolute;
    align-items: center;
     display:flex;
     left:20px;
    flex-direction: row; /* Stack buttons vertically */
    gap: 10px; /* Adds spacing between buttons */}

.shared{
  padding:0;
  text-transform: uppercase;

}

.Saving{
  position: absolute;
  align-items: center;
   display:flex;
   left:20px;
  flex-direction: row; /* Stack buttons vertically */
  gap: 10px; /* Adds spacing between buttons */margin-top:30px;
  padding:0;
}

  .saved{
    padding:0;
    text-transform: uppercase;
  }
  .buttons{
    display:flex;
    flex-direction: column;
    gap:10px;
    top:0;
    margin-bottom:10px;
  }

  @media(max-width:1200px){
    .maincontent{
      background-color: white;
      border:none;
     width:100%;
      margin-left: auto;
    }
    .wrapcontent{
      display:inline-flex;
    
    }
    .author{
      border-radius: 50%;
      width:70px;
      height:70px;
      filter:grayscale(1);
      margin-left: 20px;
      margin-top: 20px;
    
    }
    .authorName{
      font-size: large;
      color:aqua;
      padding:0;
      align-items: center;
      margin-top:40px;
      padding-left: 12px;
      height:fit-content;
      width:fit-content;
    }
    
    
    .line{
      border-right: 1px solid #d6d5d5;
      height: 18px;
      margin-top: 45px;
      padding-left: 10px;
      width:0;
    
    }
    .Market{
      padding-left: 5px;
      padding-right: 5px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 15px;
      width:160px;
    
    
    }
    .Date{
      text-transform: uppercase;
      font-weight: 500;
      font-size: 15px;
      width:280px;
      margin-left: 140px;
      
    }
    .features{
      display:flex;
      flex-direction: row;
      text-align: end;
    }
    
    .links{
      margin-left: 30px;
      color:red;
      position: absolute; /* Moves below SHARE/SAVE */
        transform: none;
        margin-top: 50px; /* Add some space below */
        z-index: 0;
    }
    .links:hover{
      text-decoration: underline;
    }
    .contentss{
      padding-left: 20px;
      padding-top: 0;
      font-weight: 300;
      font-size: 26px;
      font-style: italic;
      margin-top: 30px;
    }
    svg{
      width:20px;
      height:20px;
     
    }
    .Sharing{
      position: relative;
        align-items: center;
         display:flex;
        flex-direction: row; /* Stack buttons vertically */
        gap: 10px; /* Adds spacing between buttons */
      
      }
    
    .shared{
      padding:0;
      text-transform: uppercase;
    
    }
    
    .Saving{
      position: relative;

      align-items: center;
       display:flex;
      flex-direction: row; /* Stack buttons vertically */
      margin-top: 0;
      height:fit-content;
      width:fit-content;
    }
    
      .saved{
        padding:0;
        text-transform: uppercase;
      }
      .buttons{
        display:inline-flex;
        flex-direction: row;
        top:0;
        align-items: center;
        width:fit-content;
        height:fit-content;
        margin-top: 20px;
      }

  }

  .Gist{
    left:0;
    padding-left: 20px;
    font-size: 24px; 
  font-weight: 500; }

  ul{
    list-style: disc;
    padding-left: 40px;
    font-size: 20px;
margin-top: 20px;  }

ul li{
  margin-top: 20px;
  width:fit-content;
}

.success{
  padding:0;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 300;
}
.label{
  width:100%;
  height:200px;
  background-color: #0a0a0a;
  margin-top:20px;
}
.Table{
  left:0;
  padding-left: 10px;
  font-size: 24px; 
font-weight: 500;
}
.heading{
  left:0;
  padding-left: 10px;
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  color:#0a0a0a;
}
.Factor{
  color:#05b3ff;
  font-size: 22px;
  font-weight: 700;
}
input[type=email]{
  border:1px solid red;
  width:500px;
  height:50px;
  border-radius: 2px;
  margin-left:10px;
  padding-left: 10px;
  margin-left:100px;
}
input[type=email]:focus{
  border-color: #007BFF;

}
.community{
  background-color: red;
  color:white;
  width:200px;
  height:50px;
}
.headings{
  left:0;
  padding-left: 10px;
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  color:grey;
  text-align: center;
}
.submit{
  padding:0;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 300;
  text-align: center;
}
.Search{
  word-wrap: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    position: static;
    background: rgba(0, 0, 0, 0);
    line-height: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-family: "Open Sans", sans-serif;
    opacity: 1;
    color: inherit;
    border: initial;
    transform: none;
    border-radius: 0
}